name: Build Android (Docker)
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 1. Ambil kode
      - uses: actions/checkout@v4

      # 2. Perbaiki izin file (Penting untuk Docker)
      - name: Fix permissions
        run: |
          sudo chmod +x main.py
          sudo chmod +x buildozer.spec
          sudo chown -R $USER:$USER .

      # 3. Build menggunakan Docker (Alat sudah siap pakai)
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: master

      # 4. Upload Hasil
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
